<!DOCTYPE html>
<html>

<head>
    <title>Bajra Crop</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700" rel="stylesheet"
        type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="/static/style/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/style/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/style/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/static/style/flexslider.css" rel="stylesheet" />
    <link href="/static/style/templatemo-style.css" rel="stylesheet" />
    <link rel="icon" href="/static/images/project logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/style/styles-crops.css">
</head>


<body class="image">

    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="/" class="tm-site-name">POṢHAṆA</a>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#" class="active">Crops</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Terrace Gardening</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <h1 class="heading"> &#127793; Bajara Crop Planting for beginners </h1>

    </div>
    <div class="polaroid">
        <img src="static/images/bajra.jpg" alt="Jowar" style="width: 100%;">
        <DIV class="">
            <p style="text-align: center; margin-right: 20px; margin-top: 0; margin-bottom: -5px;">BAJRA</p>
            </img>
        </DIV>

    </div>
    </div>



    <div class="container-fluid">

        <p><b>Pearl millet </b> (Cenchrus americanus, commonly known as the synonym Pennisetum
            glaucum) is the most widely grown type of millet. It has been grown in Africa and the Indian subcontinent
            since
            prehistoric times. The center of diversity, and suggested area of domestication, for the crop is in the
            Sahel
            zone of West Africa. Recent archaeobotanical research has confirmed the presence of domesticated pearl
            millet on
            the Sahel zone of northern Mali between 2500 and 2000 BC 2023 is the International Year of Millets, declared
            by
            the United Nations General Assembly in 2021.</p>
    </div>
    <br><br>
    <div class="container-fluid">

        <h3 style="margin-left: 20px; text-align: center; font-family: cursive;">About Growth:</h3>
        <p>Today pearl millet is grown on over 260,000 square kilometres (100,000 sq mi) of land worldwide. It accounts
            for about 50% of the total world production of millets. Pearl millet is the most widely grown millet and is
            a very important crop in India and parts of Africa.</p>

        <p>World production of millets has been stable during the 1980s. According to FAO, 39.4 million hectares (97
            million acres) of millet were planted in 1987 with an average production of only 704 kilograms per hectare
            (628 lb/acre).</p>
    </div>
    <div class="text">

        <h1 style="margin-left: 20px; margin-top:100px; font-family: cursive; color:rgb(138, 56, 56) ;">&#127793;
            STEPS</h1>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 1</button>
                <h2 class="Steps">Climate and soil:</h2>
            </summary>
            <p style="margin-left: 100px;"> <b>The crop has a wide adaptability as it may grow under different day
                    lengths, temperature and
                    moisture stress. Most of the varieties developed in India are photosensitive which helps in
                    growing the crop during monsoon, rabi and arid season. It requires low annual rainfall ranging
                    between 40-50 cm and dry weather. The crop may tolerate drought but cannot withstand high
                    rainfall of 90 cm or above. Light soils of low inherent fertility good drainage, mild salinity
                    are best type for this crop. Crop does not tolerate soil acidity</b></p>


        </details>
        <br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 2</button>
                <h2 class="Steps">Land preparation: </h2>
            </summary>
            <p style="margin-left: 100px;"> <b>The crop needs very fine tilt because the seeds are too small. 2-3
                    harrowings and a ploughing is
                    followed so that a fine tilth may be obtained to facilitate the sowing and proper distribution
                    of seed at appropriate depth.</b></p>


        </details>
        <br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 3</button>
                <h2 class="Steps">Varieties: </h2>
            </summary>
            <p style="margin-left: 100px;"> <b>NBH-149, VBH-4 developed for Andhra Pradesh, Madhya Pradesh, Gujarat,
                    Maharashtra are capable of
                    producing 14% higher yield.<br><br>
                    ICM4-155 gave higher yield than the standard check and adopted for all growing tracts of
                    India.Also H-306, NH-338 and hybrid like MP-204, MP205 have been identified.</b></p>


        </details>
        <br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 4</button>
                <h2 class="Steps">Sowing: </h2>
            </summary>
            <p style="margin-left: 100px;"> <b>
                    Sowing time :- Most appropriate time of sowing is middle or last week of July
                    <br><br>Seed rate and Spacing:-

                    <br><br> 4-5 kg/ha for drilling method

                    <br><br>2.5-3 kg/ha for dibbling method

                    <br><br>spacing 40 –45 cm between rows, 10 –15 cm within rows.

                    <br><br>Seed treatment- The organo-mercurial compound Ceresan, Agrosan should be used @ 2.5-3
                    kg/ha to control seed borne diseases


                    <br><br>Generally the crop requires low quantity of nutrients. But All India Co-ordinated Millet
                    Improvement Project has proved that new plant types of bajra especially hybrids respond
                    to very high doses of fertilizers.


                    <br><br>Under rainfed areas application of organic manures such as FYM or compost helps in
                    increasing the crop yield at the rate of 150-200 quintals/ha 80 –100 kg N:40-50
                    kgP:40-50kgK is recommended dose for hybrid variety.


                    <br><br> Fertilizers are applied in split doses, half of nitrogen, full phosphorus and potash
                    should be basal placed at the time of sowing . The organic manures must be applied 20
                    days before the sowing of the seeds for full decomposition. One fourth dose of nitrogen
                    should be applied about 30 days and 60 days after sowing.
                    <br>
                </b></p>
        </details>
        <br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 5</button>
                <h2 class="Steps">Irrigation: </h2>
            </summary>
            <p style="margin-left: 100px;"> <b>
                    Bajra is grown rainfed and crop being drought resistant hardly needs any irrigation, however it
                    is observed that the yield may be significantly increased by irrigating the crop at critical
                    growth stages like maximum tillering, flowering and grain filling stage. Therefore light
                    irrigations and efficient drainage is very essential for bajra production.
                </b></p>
        </details><br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 6</button>
                <h2 class="Steps">Plant protection measures: </h2>
            </summary>
            <p style="margin-left: 100px;"><b><i> a) Insect pests: </i><br>

                    Stem bores and grasshoppers are serious pests of bajra controlled by two sprayings with 2 litres of
                    Eldrin 20 c.c and grasshoppers may be controlled by dusting the crop with BHC 5 percent.
                    <br>
                    Generally, you can add 60 Kilograms N, 40 Kilograms P205 , and 40 Kilograms K2O per hectare at
                    the time of sowing of seeds. After one month from sowing of seeds you can add 35 Kilograms N as
                    top dressing.
                    <br><br>
                    <i> b) Diseases: </i><br>
                    Downy mildew- for controlling this disease seed treatment with fungicide like Dithane Z-78 or M-45 @
                    2.0kg/ha in 800-1000 lit. of water.
                    <br>
                    <br> Smut- Treatment with Ceresan or Thirum @ 1-2 g/kg seeds is effective.
                    <br> Ergot- Seed treatment with 20% common salt solution followed by washing with fresh water and
                    then
                    treating with Ceresan or
                    <br>
                    Thirum 1-2 g/kg seeds is effective <br>
        </details>
        <br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 6</button>
                <h2 class="Steps">Harvesting and Storage:</h2>
            </summary>
            <p style="margin-left: 100px;"> <b>
                    The crop is harvested when grains become hard enough and contain moisture. Two methods are
                    adopted for harvesting the crop Cutting earhead
                    <ol style="margin-left: 100px;" type="i">
                        <li>from standing crop followed by cutting of remaining plants later</li>
                        <li>Cutting of entire plants by sticks and stalking the plants for five days in sun for
                            obtaining grains. Grains are separated either by beating the earheads with sticks or by
                            trampling the earheads under bullock feet.</li>
                    </ol>
                    <br>
                    <p style="margin-left: 100px;">
                        <i>Storage: </i>The separated grains must be cleaned and dried in sun to bring about 12-14%
                        moisture after which the grains may be bagged and stored in a moisture proof store. <br>
                        <i>Yeild: </i> Irrigated crop yields 30-35 quintals/ha, while unirrigated crop yield 12-15
                        quintals</p>
        </details>
        <br>
    </div>

</body>

</html>