<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>POSHANA</title>
    <link rel="icon" href="/static/images/project logo.png" type="image/x-icon">

    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link href="/static/style/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/style/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/style/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/static/style/flexslider.css" rel="stylesheet" />
    <link href="/static/style/templatemo-style.css" rel="stylesheet" />
  </head>

  <body class="tm-gray-bg">
    <!-- Header -->
    <div class="tm-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
            <a href="/" class="tm-site-name">POṢHAṆA</a>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-9">
            <div class="mobile-menu-icon">
              <i class="fa fa-bars"></i>
            </div>
            <nav class="tm-nav">
              <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#">Crops</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Terrace Gardening</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- carousel -->
    <section class="tm-banner">
      <div class="flexslider flexslider-banner">
        <ul class="slides">
          <li>
            <div class="tm-banner-inner">
              <h1 class="tm-banner-title">
                we <span class="tm-yellow-text">sow today</span> to reap
                tomorrow
              </h1>
              <p class="tm-banner-subtitle">FARMERS</p>
              <a href="/form" class="tm-banner-link">GROW CROP</a>
            </div>
            <img src="/static/images/C4.jpg" alt="Image" />
          </li>
          <li>
            <div class="tm-banner-inner">
              <h1 class="tm-banner-title">
                From seed to
                <span class="tm-yellow-text">harvest, agriculture</span>
                sustains life.
              </h1>
              <p class="tm-banner-subtitle">Wonderful EARTH</p>
              <a href="/form" class="tm-banner-link">GROW CROP</a>
            </div>
            <img src="/static/images/c2.jpg" alt="Image" />
          </li>
          <li>
            <div class="tm-banner-inner">
              <h1 class="tm-banner-title">
                Feeding the world,<span class="tm-yellow-text">
                  one harvest</span
                >
                at a time.
              </h1>
              <p class="tm-banner-subtitle">HEALTHY LIFE</p>
              <a href="/form" class="tm-banner-link">GROW CROP</a>
            </div>
            <img src="/static/images/c3.jpg" alt="Image" />
          </li>
        </ul>
      </div>
    </section>

    <!-- bg -->
    <section class="container tm-home-section-1" id="more">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
            <img src="/static/images/store.jpg" alt="image" class="img-responsive" />
            <a href="#">
              <div class="tm-green-gradient-bg tm-city-price-container">
                <span>Store</span>
              </div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
            <img
              src="/static/images/terrace gardening.jpg"
              alt="image"
              class="img-responsive"
            />
            <a href="#">
              <div class="tm-green-gradient-bg tm-city-price-container">
                <span>Terrace Gardening</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
            <img
              src="/static/images/technology.jpg"
              alt="image"
              class="img-responsive"
            />
            <a href="#">
              <div class="tm-green-gradient-bg tm-city-price-container">
                <span>Technology</span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="section-margin-top">
        <div class="row">
          <div class="tm-section-header">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <hr />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <h2 class="tm-section-title">India's Most Cultivated Crop</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <hr />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
            <div class="tm-home-box-2">
              <img src="/static/images/bajra.jpg" alt="image" class="img-responsive" />
              <h3>
                Bajra, also known as pearl millet, is a type of grain that is
                commonly grown in regions with dry and arid climates. It is
                known for its nutritional value and versatility
              </h3>
              <div class="tm-home-box-2-container">
                <a href="/bajara" class="tm-home-box-2-link"
                  ><span class="tm-home-box-2-description">BAJRA</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
            <div class="tm-home-box-2">
              <img src="/static/images/maize.jpg" alt="image" class="img-responsive" />
              <h3>
                Maize is also known as corn, is a widely cultivated grain that
                is native to the Americas and is now one of the most important
                cereal crops worldwide.
              </h3>
              <div class="tm-home-box-2-container">
                <a href="/maize" class="tm-home-box-2-link"
                  ><span class="tm-home-box-2-description">MAIZE</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
            <div class="tm-home-box-2">
              <img src="/static/images/Rice.jpg" alt="image" class="img-responsive" />
              <h3>
                Rice is a staple food that has been consumed by human
                civilizations which requires warm climates, ample water, and
                well-drained soils for optimal growth.
              </h3>
              <div class="tm-home-box-2-container">
                <a href="/rice" class="tm-home-box-2-link"
                  ><span class="tm-home-box-2-description">RICE</span></a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
            <div class="tm-home-box-2 tm-home-box-2-right">
              <img
                src="/static/images/wheat crop image.jpg"
                alt="image"
                class="img-responsive"
              />
              <h3>
                Wheat is a widely cultivated cereal grain. It is grown in
                temperate climates and requires well-drained soils and adequate
                sunlight for optimal growth.
              </h3>
              <div class="tm-home-box-2-container">
                <a href="/wheat" class="tm-home-box-2-link"
                  ><span class="tm-home-box-2-description">WHEAT</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="dk-footer" class="dk-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <div class="dk-footer-box-info">
              <a href="/" class="footer-logo">
                <img
                  src="/static/images/NOURISHMENT__1_-removebg-preview.png"
                  alt="footer_logo"
                  class="img-fluid"
                />
              </a>
              <div class="footer-social-link">
                <h3>Follow us</h3>
                <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-github" style="color: #ffffff"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End Social link -->
            </div>
            <!-- End Footer info -->
          </div>
          <!-- End Col -->
          <div class="col-md-12 col-lg-8">
            <div class="row">
              <div class="col-md-6">
                <div class="contact-us">
                  <div class="contact-icon">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                  </div>
                  <!-- End contact Icon -->
                  <div class="contact-info">
                    <h3>NCER, TALEGAON DABHADE</h3>
                    <p>410507, PUNE</p>
                  </div>
                  <!-- End Contact Info -->
                </div>
                <!-- End Contact Us -->
              </div>
              <!-- End Col -->
              <div class="col-md-6">
                <div class="contact-us contact-us-last">
                  <div class="contact-icon">
                    <i
                      class="fa fa-volume-control-phone"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <!-- End contact Icon -->
                  <div class="contact-info">
                    <h3>+91 98765 43210</h3>
                    <p>Give us a call</p>
                  </div>
                  <!-- End Contact Info -->
                </div>
                <!-- End Contact Us -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Contact Row -->
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="footer-widget footer-left-widget">
                  <div class="section-heading">
                    <h3>Useful Links</h3>
                  </div>
                  <ul>
                    <li>
                      <a href="#">About us</a>
                    </li>
                    <li>
                      <a href="#">Services</a>
                    </li>
                    <li>
                      <a href="#">Projects</a>
                    </li>
                    <li>
                      <a href="#">Our Team</a>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <a href="#">Contact us</a>
                    </li>
                    <li>
                      <a href="#">Blog</a>
                    </li>
                    <li>
                      <a href="#">Testimonials</a>
                    </li>
                    <li>
                      <a href="#">Faq</a>
                    </li>
                  </ul>
                </div>
                <!-- End Footer Widget -->
              </div>
              <!-- End col -->
              <div class="col-md-12 col-lg-6">
                <div class="footer-widget">
                  <div class="section-heading">
                    <h3>TEAM MEMBERS</h3>
                  </div>
                  <p class="team">
                    <i
                      >TEJAS RENOLD NUN, RAHUL MUDGAL, PRADNYA ADSUL, NIKHIL
                      LODHA</i
                    >
                  </p>
                  <p>
                    <!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                    We're students of Nutan college of Engineering and Research
                    FROM COMPUTER SCIENCE DEPARTMENT.
                  </p>
                  <!-- End form -->
                </div>
                <!-- End footer widget -->
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Widget Row -->
      </div>
      <!-- End Contact Container -->

      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <span>Copyright © 2019, All Right Reserved Seobin</span>
            </div>
            <!-- End Col -->
            <div class="col-md-6">
              <div class="copyright-menu">
                <ul>
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="#">Terms</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
      </div>
      <!-- End Copyright -->
      <!-- Back to top -->
      <div id="back-to-top" class="back-to-top">
        <button class="btn btn-dark" title="Back to Top" style="display: block">
          <i class="fa fa-angle-up"></i>
        </button>
      </div>
      <!-- End Back to top -->
    </footer>
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <!-- moment.js -->
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <!-- bootstrap js -->
    <script
      type="text/javascript"
      src="/static/js/bootstrap-datetimepicker.min.js"
    ></script>
    <script type="text/javascript" src="/static/js/jquery.flexslider-min.js"></script>

    <script type="text/javascript" src="/static/js/templatemo-script.js"></script>
    <script>
      $(function () {
        $("#hotelCarTabs a").click(function (e) {
          e.preventDefault();
          $(this).tab("show");
        });

        $(".date").datetimepicker({
          format: "MM/DD/YYYY",
        });
        $(".date-time").datetimepicker();

        $("a[href*=#]:not([href=#])").click(function () {
          if (
            location.pathname.replace(/^\//, "") ==
              this.pathname.replace(/^\//, "") &&
            location.hostname == this.hostname
          ) {
            var target = $(this.hash);
            target = target.length
              ? target
              : $("[name=" + this.hash.slice(1) + "]");
            if (target.length) {
              $("html,body").animate(
                {
                  scrollTop: target.offset().top,
                },
                1000
              );
              return false;
            }
          }
        });
      });

      $(window).load(function () {
        $(".flexslider").flexslider({
          controlNav: false,
        });
      });
    </script>
  </body>
</html>
