<!DOCTYPE html>
<html>
    <head>
        <title>Jowar Crop</title>

        <link rel="icon" href="/static/images/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="static/style/styles.css">
    </head>


     <body background="static/images/Orange and Green Light Watercolor Background Christian Desktop Wallpaper.png"> 
        
        <div class="tm-header">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                  <a href="/" class="tm-site-name">POṢHAṆA</a>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-9">
                  <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                  </div>
                  <nav class="tm-nav">
                    <ul>
                      <li><a href="/" class="active">Home</a></li>
                      <li><a href="#">Crops</a></li>
                      <li><a href="#">Technology</a></li>
                      <li><a href="#">Terrace Gardening</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
      
        
                
                <h1 class="heading"> &#127793; Jowar Crop Planting for beginners </h1>
               
            </div>
            <div class="polaroid">
                <img src="static/images/jowar.jpg" alt = "Jowar" style="width: 100%;">
                <DIV class="container">
                    <p style="text-align: center;">Jowar</p>
                </img>
                </DIV> 
                  
            </div>
        </div>
      
          
        

        <p style="text-align: left;">Among the different kinds of cereal crops in India, jowar occupies a major prominence. Besides being a staple diet for the poorer section of the society, it is also used for animal feed and industrial raw materials. Different parts of the country have the potential to have this important cereal crop grown, which is also a major product of agriculture in many other countries. Since it can grow in semi arid climates, where other crops do not have a chance of growing, this crop has been grown in these areas. Requiring semi arid climatic conditions, the jowar crop has proved to be a good agricultural practice in the country. In comparison to other cereal food items, jowar has a significant value.</p>
        
        <h3 style="margin-left: 20px; font-family: cursive;">Conditions of Growth:</h3>
        <p>The cereal plant of jowar came up in historic times in the present day Ethiopia and east central Africa. It was probably in the first millennium that jowar plants were brought from African countries into India. Jowar or sorghum belongs to the Graminae family and grows to a height of about 4 mts. Seeds are rounded and pointed at the base, the color being brownish, yellow, pink or white.</p>

        <p>Importance of jowar as a crop is seen in its usage as animal feed and fodder, grown mostly in arid and semi arid climates of the world as well as in India. It is grown as a coarse grain. Its use in different kinds of commercial purposes is making jowar an important agricultural product in the whole world. It is used primarily as a livestock feed and fodder. Some places also have facilities to produce alcohol from jowar. The entire plant is used as forage, hay or silage. Sorghum has a sweet stock, which can be used as raw material for jaggery, ethanol, paper making and some other industrial purposes. In India, jowar has been included as a commodity in the commodity market. From the point of view of production, it is grown as a Rabi and kharif crop and also in summers.</p>
        <div class="text">

            <h1 style="margin-left: 20px; margin-top:100px; font-family: cursive; color:rgb(138, 56, 56) ;">&#127793; STEPS</h1>
            <details>
                <summary><button><img class="buttonimg" src="D:\hackathonprj\imagesProject\button image.jpg"> STEP 1</button>
                    <h2 class="Steps">Origin Of Sorghum :</h2></summary>
                <p> <b>Although the exact origin of sorghum is not clear yet, but researchers have found evidence of wild varieties of sorghum in Africa. However, the origin of cultivated varieties of sorghum is believed to be in north-eastern Africa or at the Egyptian Sudanese border.</b></p>
                <p> <b>Moreover, few researchers have found evidence of domesticated sorghum variety in ancient Harappan India. But, here it is not a native crop.</b></p>
                    
              </details>

              <details>
                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 2</button>
                    <h2 class="Steps">Choose your planting location. :</h2></summary>
                <p> <b>The total production of sorghum in the world is 57.5 Million tonnes in the year 2018 to 2019 according to United States Department of Agriculture. And the total land used for sorghum farming according to FAO is found to be 45 million hectares worldwide during 1992 to 1994.</b></p>
                <p> <b>  According to stastista.com United States is the leading producer of sorghum, followed by Nigeria, Ethiopia, India, Mexico, Sudan, and China. United States produces around 14 Million tonnes of sorghum every year.</b></p>
        
                </details>

                <details>
                    <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 3</button>
                        <h2 class="Steps">Soil Requirement</h2></summary>
                    <p> <b>Sorghum can be cultivated on a wide range of soil, but sandy loam and well drained soil is considered best for cultivation of sorghum. However, avoid sorghum farming in clayey soil that have waterlogging problem.</b></p>
                    <p> <b>According to ICAR, for better growth and development of the crop, soil pH in the range of 6 to 7.5 pH is ideal. Before sowing of seeds ensure that the ground soil is not contaminated with any pathogens or weeds.</b> </p>
                    
                    </details>
            
                    <details>
                        <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 4</button>
                            <h2 class="Steps">Climate And Temperature</h2></summary>
                        <p> <b>
                            Sorghum crop can be easily cultivated in tropical climate. Temperature range of 25 to 35 degrees celsius is ideal for cultivation of sorghum. But, temperature below 16 degrees celsius is not good for growing this crop.
                        </b></p>
                        <p><b>
                            Sowing temperature </b>range of 25 to 30 degrees celsius is good for germination of seeds. At the time of harvest, temperature range of 18 to 16 degrees celsius is considered good.
                        </p>
                        <p>Regions having <b> annual rainfall </b>  of  <b> 40 centimetres</b>  are fit for raising sorghum crop.
                        </p>

                           
                        </details>

                        <details>
                            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 5</button>
                                <h2 class="Steps">Field Preparation</h2></summary>
                            <p> <b>
                                You can prepare the field with one to two ploughing, followed by two crosswise harrowing. This practice of field preparation will help you to prepare a good seed bed for cultivation of sorghum. Avoid waterlogging in the field
                            </b></p>       
                            </details>
                            <details>
                                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 5</button>
                                    <h2 class="Steps">Manures & Fertilizers</h2></summary>
                                <p> <b>
                                    Before sowing of seeds add 15 to 20 tonnes of Farm Yard Manure (FYM) in the field. You can also use jeevamrut or waste decomposer to increase the fertility of the soil. For best results get your soil tested to know about the nutritional values of your soil.
                                </b></p>
                                <p> <b>
                                    Generally, you can add 60 Kilograms N, 40 Kilograms P205 , and 40 Kilograms K2O per hectare at the time of sowing of seeds. After one month from sowing of seeds you can add 35 Kilograms N as top dressing.
                                </b></p>   
                                <p> <b>
                                    If your soil is deficient in sulphur then you can add 45 to 60 Kilograms of sulphur per hectare. But, if you wish to continue organic farming then jeevamrut, waste decomposer, or panchgavya are wonderful organic substitutes.
                                </b></p>       
                                </details>    

                                <details>
                                    <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 6</button>
                                        <h2 class="Steps">Irrigation</h2></summary>
                                    <p> <b>
                                        According to ICAR, if you sow the seeds during monsoon season i.e. June to July then the frequency of irrigation depends on the amount of rainfall. Generally one to three irrigation is adequate. But for summer crop, 5 to 7 irrigation is good.
                                    </b></p>
                                    <p> <b>
                                        Winter season crop needs 4 to 5 irrigation frequency. However, you can also add panchgavya along with irrigation water to improve crop productivity.
                                    </b></p>   
                                    </details>
                                    <details>
                                        <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 7</button>
                                            <h2 class="Steps">Weeding</h2></summary>
                                        <p> <b>
                                            The uncontrolled growth of weeds can seriously damage the overall crop yield. Hence better practices must be carried out to control weed growth. You can use weeder cum mulcher for hoeing when crop is at 3 week crop stage.
                                        </b></p>
                                    </details>
                                    <details>
                                        <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 8</button>
                                            <h2 class="Steps">Harvesting</h2></summary>
                                        <p> <b>
                                            You can start harvesting your crop after 65 to 70 days of sowing. You can give first cut at 45 to 50 days. And you can carry out cutting once after every 30 days interval.
                                        </b></p>
                                        <p> <b>
                                            You can use sickles for harvesting sorghum crop. The best sign of crop that can be harvested is the stage at which moisture content becomes less than 25%.
                                        </b></p>
                                        </details>    
                                        
        </div>
         

        
        

        
    </body>
</html>