<!DOCTYPE html>
<html>

<head>
    <title>Maize Crop</title>

    <link rel="icon" href="static/images/project logo.png" type="image/x-icon">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700" rel="stylesheet"
        type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="static/style/font-awesome.min.css" rel="stylesheet" />
    <link href="static/style/bootstrap.min.css" rel="stylesheet" />
    <link href="static/style/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="static/style/flexslider.css" rel="stylesheet" />
    <link href="static/style/templatemo-style.css" rel="stylesheet" />
    <!-- <link rel="icon" href="imagesProject/project logo.png" type="image/x-icon"> -->
    <link rel="stylesheet" href="static/style/styles-crops.css">
</head>


<body class="image"
    background="static/images/Orange and Green Light Watercolor Background Christian Desktop Wallpaper.png">

    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="/" class="tm-site-name">POṢHAṆA</a>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#" class="active">Crops</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Terrace Gardening</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
<br><br><br>


    <h1 class="heading"> &#127793; Maize Crop Planting for beginners </h1>

    </div>
    <div class="polaroid">
        <img src="static/images/maize.jpg" alt="maize" style="width: 100%;">
        <DIV class="container-fluid">
            <p style="text-align: center; margin-right: 20px; margin-top: 0; margin-bottom: -5px;">MAIZE</p>
            </img>
        </DIV>

    </div>
    </div>
    <br><br>

<div class="container-fluid">

    <p style="margin-left: 60px;"><b>Maize </b> also known as corn in North American and Australian English, is a cereal
        grain first domesticated by indigenous peoples in southern Mexico about 10,000 years ago. The leafy stalk of the
        plant produces pollen inflorescences (or "tassels") and separate ovuliferous inflorescences called ears that
        when fertilized yield kernels or seeds, which are fruits. The term maize is preferred in formal, scientific, and
        international usage as the common name because this refers specifically to this one grain whereas corn refers to
        any principal cereal crop cultivated in a country. For example, in North America and Australia corn is often
        used for maize, but in England and Wales it can refer to wheat or barley, and in Scotland and Ireland to oats.
        </p>
        <br><br>

        <h3 style="margin-left: 20px; font-family: cursive; text-align: center;">History:</h3>
        <p style="margin-left: 60px;">Native Americans in southern Mexico domesticated corn for the first time around 10,000 years ago. It is
            thought that the Balsas teosinte (Zea mays parviglumis), a wild grass, is the ancestor of modern maize. By
            the time Europeans arrived in North America, its culture had already reached southern Maine in the north,
            and Native Americans had shown European colonists how to cultivate local grains. Since Christopher Columbus
            and other explorers and colonisers brought corn to Europe, it has expanded to every region of the world that
            is appropriate for its growth. It is planted all over the world, with a corn crop reaching maturity
            somewhere almost every month of the year. It is farmed from 58° N latitude in Canada and Russia to 40° S
            latitude in South America. It is often regarded as a staple food and the most significant crop in the United
            States.</p>


        <div class="text">

            <h1 style="margin-left: 20px; margin-top:100px; font-family: cursive; color:rgb(138, 56, 56) ;">&#127793;
                STEPS</h1><br>
            <details>
                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP
                        1</button>
                    <h2 class="Steps"> Field selection: </h2>
                </summary>
                <p> <b>You have to select a field where you will grow your maize. There are important details you need
                        to consider when selecting your field.
                    </b></p>
                <p><b>Make sure the field is located at the right altitude, with quality soil that will aid maize
                        germination such as medium loams that are free-draining, and will warm up early in the season to
                        give young plants the best start preferred. Also, the field should have access to sufficient
                        light</b></p>


            </details><br>

            <details>
                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP
                        2</button>
                    <h2 class="Steps">Land preparation: </h2>
                </summary>
                <p> <b>The next course of action is to prepare the land for cultivation. Existing trees, shrubs, and
                        grasses that will hinder farming should be cleared from the farmland.The soil should be tilled
                        and harrowed either manually or mechanically. Then leveled and organic manure should be applied
                        to improve soil nutrients.After the land clearing process, with the use of a hoe or any
                        mechanical equipment, you should make elevated seed beds where the maize seedlings will be
                        planted.</b></p>


            </details><br>

            <details>
                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP
                        3</button>
                    <h2 class="Steps">Select Maize Variety</h2>
                </summary>
                <p> <b>You will find in the market numerous maize varieties that you can purchase and plant. However,
                        you should go for the best quality seedlings, preferably hybrid seeds that have been treated to
                        resist pests and diseases.</b></p>
                <p> <b> Ensure you contact a reputable maize farmer, farm store, or any other trusted source to purchase
                        your maize seedlings. More so, inspect the seeds to be sure they are still good for
                        planting.</b></p>


            </details><br>

            <details>
                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP
                        4</button>
                    <h2 class="Steps"> Planting </h2>
                </summary>
                <p><b>Now that you have all you need to grow maize in place, it is time to plant the seeds. All you need
                        to do is to make a hole on the seedbed and pour 2 to 3 seeds per hole and cover back with
                        soil.</b></p>
                <p> It is best to plant in the evening when the weather is cool. Also, make sure you cover the seedlings
                    properly so that birds and rodents won’t remove them.<b>
                        <p> <b>After planting, water the farm mildly so that the soil will retain moisture that will let
                                the germination process begin.</b></p>

            </details><br>

            <details>
                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP
                        5</button>
                    <h2 class="Steps">Irrigation and Fertilization </h2>
                </summary>
                <p> <b>
                        Irrigation is necessary, especially during dry seasons or in an area with inadequate rainfall.
                        The sprinkler irrigation system is best to avoid overflooding the farmland but supply adequate
                        water to the plants daily.
                    </b></p>
                <p> <b>
                        If your plant is not growing well, you need to introduce fertilizer, be it organic or inorganic
                        to ensure the plants grow well. Different fertilizers are manufactured for various plants, and
                        the application measurement differs.
                    </b></p>
            </details><br>
            <details>
                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP
                        6</button>
                    <h2 class="Steps"> Weed and Pest/Disease Control</h2>
                </summary>
                <p><b>
                        Weeds tend to grow alongside maize plants to contend for space and nutrients. That is why you
                        need to weed your farm to get rid of unwanted plants by using simple farm tools like hoes to
                        uproot weeds. Also, chemicals can be mainly used in large-scale commercial farming.
                    </b></p>
                <p> <b>
                        Some diverse pests and diseases affect maize plants during germination. That is why you ought to
                        be on the lookout to ensure your maize plants are safe. Through the spray of pesticides, pests
                        and insects can be controlled and kept at bay from infesting the farm to avoid plants being
                        diseased.
                    </b></p>

            </details><br>

            <details>
                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP
                        6</button>
                    <h2 class="Steps"> Mulching:</h2>
                </summary>
                <p> <b>
                        Maize requires moist soil to thrive. Ensure to mulch the soil to retain moisture, using dry
                        leaves, grass, or weeds to cover the farm bed to protect both the plant and soil from excessive
                        sunlight and other future danger.
                    </b></p>

            </details><br>

            <details>
                <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP
                        7</button>
                    <h2 class="Steps"> Harvest</h2>
                </summary>
                <p> <b>
                        Once your maize plants mature, you can begin to harvest the cobs. The method of harvest differs
                        for several plants.


                    </b></p>

            </details><br>

        </div>
</div>
</body>

</html>