<!DOCTYPE html>
<html>

<head>
    <title>Rice Crop</title>

    <link rel="icon" href="static/images/project logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style/styles-crops.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700" rel="stylesheet"
        type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="static/style/font-awesome.min.css" rel="stylesheet" />
    <link href="static/style/bootstrap.min.css" rel="stylesheet" />
    <link href="static/style/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="static/style/flexslider.css" rel="stylesheet" />
    <link href="static/style/templatemo-style.css" rel="stylesheet" />
    <!-- <link rel="icon" href="imagesProject/project logo.png" type="image/x-icon"> -->
    <link rel="stylesheet" href="static/style/styles-crops.css">
</head>


<body class="image"
    background="static/images/Orange and Green Light Watercolor Background Christian Desktop Wallpaper.png">

    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="/" class="tm-site-name">POṢHAṆA</a>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#" class="active">Crops</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Terrace Gardening</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div>

        <h1 class="heading"> &#127793; Rice Crop Planting for beginners </h1>

    </div>
    <div class="polaroid" style="height: 280px;">
        <img src="static/images/rice2.jpg" alt="RICE" style="width: 100%; margin-top: -10px;">
        <DIV class="container-fluid">
            <p style="text-align: center; margin-right: 20px;">RICE</p>
            </img>
        </DIV>

    </div>
    </div>
    <br>



    <p style="text-align: left;">Rice is the most important food crop of India covering about one-fourth of the total
        cropped area and providing food to about half of the Indian population.</p>
    <p>This is the staple food of the people living in the eastern and the southern parts of the country, particularly
        in the areas having over 150 cm annual rainfall. There are about 10,000 varieties of rice in the world out of
        which about 4,000 are grown in India.</p>
<br><br>
    <h3 style="margin-left: 20px; text-align: center; font-family: cursive;">Conditions of Growth:</h3>
    <p>Rice is grown under varying conditions in India from 8° to 25° N latitude and from sea level to about 2,500 metre
        altitude. It is a tropical plant and requires high heat and high humidity for its successful growth. The
        temperature should be fairly high at mean monthly of 24°C. It should be 20°- 22°C at the time of sowing,
        23°-25°C during growth and 25°-30°C at the harvesting time. The average annual rainfall required by rice is 150
        cm.</p>

    <p>It is the dominant crop in areas of over 200 cm annual rainfall and is still an important crop in areas of
        100-200 cm rainfall. The 100 cm isohyet forms the limit of rice in rainfed areas. In areas receiving less than
        100 cm annual rainfall, rice can be grown with the help of irrigation, as is done in Punjab, Haryana and western
        U.P. About 40 per cent of rice crop in India is raised under irrigation.</p>
    <div class="text">

        <h1 style="margin-left: 30px; margin-top:100px; font-family: cursive; color:rgb(138, 56, 56) ;">&#127793; STEPS
        </h1><br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 1</button>
                <h2 class="Steps">Planting Your Rice :</h2>
            </summary>
            <p> <b>Purchase rice seeds from any gardening or farmers supply store. You may also buy rice seeds from a
                    reputable supply store or seek help from the local agriculture field officer. There are six basic
                    types of rice to choose from:</b>
                <ol type="1"><i style="color: rgb(128, 47, 47);">Long-grain.</i> This type of rice produces grains that
                    are light and fluffy. It tends to be a bit drier than other varieties.</ol>
                <ol type="1"><i style="color:  rgb(128, 47, 47)">Medium-grain.</i> This type is moist, tender, slightly
                    sticky, and a little creamy when cooked. It has the same texture as long-grain.</ol>
                <ol type="1"><i style="color:  rgb(128, 47, 47)">Short-grain.</i> When cooked, short-grain rice becomes
                    soft and sticky. It's also a little more sweet – this is the rice to use with sushi.</ol>
                <ol type="1"><i style="color:  rgb(128, 47, 47)">Sweet.</i> This rice is sometimes called sticky rice,
                    and is gooey when cooked. It’s often used for frozen products.</ol>
                <ol type="1"><i style="color:  rgb(128, 47, 47)">Aromatic.</i> Aromatic. This type of rice has more
                    flavor and fragrance than other varieties. This category includes Basmati, Jasmine, Red, and Black
                    japonica.</ol>
                <ol type="1"><i style="color:  rgb(128, 47, 47)"> Arborio.</i> This type becomes creamy with a chewy
                    center after cooking. It’s used primarily for risotto and other Italian dishes.
            </p>
            </ol>

        </details>
        <br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 2</button>
                <h2 class="Steps">Choose your planting location. :</h2>
            </summary>
            <p> <b>Make sure the soil in the area you're planting consists of slightly acidic clay for the best results.
                    You may also plant your rice seeds in plastic buckets with the same type of soil. Wherever you
                    plant, make sure you have a reliable water source and a way to drain that water when you need to
                    harvest.</b>
                <ol type="1">Pick a location that receives full sunlight, as rice grows best with bright light and warm
                    temperatures of at least 70° Fahrenheit (approximately 21° Celsius).</ol>
                <ol type="1">Consider the season – your area needs to allow for 3 to 6 months of plant and flower
                    growth. Rice needs a long, warm growing season, so a climate like the southern United States is
                    best. If you don't have long periods of warmth, it may be best growing your rice inside.</ol>
            </p>
        </details>
        <br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 3</button>
                <h2 class="Steps">Gather at least 1 to 2 ounces (28.5 to 56.5 g) of rice seeds to sow. :</h2>
            </summary>
            <p> <b>Soak the seeds in water to prep them for planting. Allow them to soak for at least 12 hours but not
                    longer than 36 hours. Remove the seeds from the water afterward.</b>
                <ol type="1">While your seeds are soaking, plan out where and how you want to plant them. Most prefer to
                    plant the seeds in rows to make it easier to water and weed. Consider building trenches and blocking
                    the ends so the water stays contained and dammed (berms can be used as well). That being said, the
                    area doesn't need to stay flooded per se, it just needs to stay wet.</ol>
            </p>
        </details>
        <br>
        <details>
            <summary><button><img class="buttonimg" src="static/images/button image.jpg"> STEP 4</button>
                <h2 class="Steps">Plant the rice seeds throughout the soil, during the fall or spring season. :</h2>
            </summary>
            <p> <b>Get rid of the weeds, till the beds, and level the soil. If you are using buckets, fill them with at
                    least 6 inches (15 cm) of moist soil. Then add the rice seeds.</b>
                <ol type="1">Keep in mind that the area needs to be flooded with water. It's much easier to flood a few
                    smaller spaces than one larger one. If you're planting outside, using several seed beds will be
                    easier to manage and maintain.</ol>
                <ol type="1">If you plant in the fall, be sure to de-weed come spring. The rice seeds need all the
                    nutrients and space they can get.</ol>
            </p>
        </details><br><br>
    </div>






</body>

</html>