<!DOCTYPE html>
<html>
    <head>
        <title>Technologies used</title>
        <link rel="stylesheet" href="D:\hackathonprj\ProjectCode\Technology\styles.css">
    </head>
        <link rel="icon" href="D:\hackathonprj\imagesProject\project logo.png" type="image/x-icon">
    
    <body background = "D:\hackathonprj\imagesProject\technologies\techno bg.png" >
        <nav>
            <label class="LOGO-NAME"><img class = "logo" src="D:\hackathonprj\imagesProject\project logo.png">POṢAṆA</label>
            <ul>
            <li> <a href="#">HOME</a></li>
            <li><a href="#">GARDENING</a></li>
            <li><a href="#">TECHNOLOGY</a></li>
            <li><a href="#">AGRICULTURE</a></li>
            </ul>   
        </nav>
        <h1>Technologies</h1>
        <h2 style="color: rgb(226, 226, 138);">hydroponics</h2> 
    </div>
    <div class="polaroid" style="background-color:ghostwhite;">
        <video width ="320" height ="240" controls autoplay playsinline loop> <source src="D:\hackathonprj\imagesProject\technologies\TYPESHYDRO\vid.webm">
        </video>
        <DIV class="container">
            <p style="text-align: center;">HYDROPONICS</p>
        </img>
        </DIV> 
          
    </div>
</div>

        <p style="text-align: left; color: rgb(48, 28, 2);"><b> Hydroponics is a type of horticulture and a subset of hydroculture which involves growing plants, usually crops or medicinal plants, without soil, by using water-based mineral nutrient solutions in aqueous solvents. Terrestrial or aquatic plants may grow with their roots exposed to the nutritious liquid or in addition, the roots may be mechanically supported by an inert medium such as perlite, gravel, or other substrates.</b></p>
        
          
        <h2 style="color: rgb(226, 226, 138);">Types of Hydroponics</h2> 
    </div>
    <div class="polaroid" style="background-color:ghostwhite;">
        <img src="D:\hackathonprj\imagesProject\technologies\TYPESHYDRO\areoponics.webp" alt = "Aeroponics" style="width: 100%; height: 90%;">
        <DIV class="container">
            <p style="text-align: center;">AEROPONICS</p>
        </img>
        </DIV> 
          
    </div>
</div>

        <p style="text-align: left; color: rgb(48, 28, 2);"><b>An aeroponic system is perhaps the most complex and expensive hydroponic method, but can also be the most effective. The plant’s roots are actually suspended in air and misted with a water/nutrient solution using an oxygenating air pump, either a small continuous mist or an interval cycle. That way, the roots are provided with continuous nutrients and exposed to constant oxygen without the risk of oversaturation. Aeroponic systems are relatively simple to monitor, but even a slight malfunction can cause the plant roots to dry out and die quickly.</b></p>
        

    </div>
    <div class="polaroid" style="background-color:ghostwhite;">
        <img src="D:\hackathonprj\imagesProject\technologies\TYPESHYDRO\nutrient.jpg" alt = "Nutrient Film Technique" style="width: 100%; height: 90%;">
        <DIV class="container">
            <p style="text-align: center;">Nutrient Film Technique</p>
        </img>
        </DIV> 
          
    </div>
</div>

        <p style="text-align: left; color: rgb(48, 28, 2);"><b>In the nutrient film technique, the water and nutrient solution are held in a larger reservoir with an air pump to keep it oxygenated. The plants themselves are grown in a nearby channel (called net pots) and the water pump is set on a timer that pushes the water through the channel at certain intervals. The roots aren’t completely submerged, but the pump helps deliver a thin film of nutrients and water to the plants.</b></p>

            <p style="text-align: left; color: rgb(48, 28, 2);"><b>At the end of the channel, the solution can be dropped back into the main reservoir to be reused. Apart from being a low-waste continuously flowing system, this method ensures that the roots don’t become suffocated with too much solution and requires little to no growing medium. However, it requires a lot of observation, since any malfunction in the pumps or clog in the channel can ruin the plants.</b></p>

            

            <div class="polaroid" style="background-color:ghostwhite;">
                <img src="" alt = "Wick System" style="width: 100%; height: 90%;">
                <DIV class="container">
                    <p style="text-align: center;">Wick System</p>
                </img>
                </DIV> 
                  
            </div>
        </div>  
        <p style="text-align: left; color: rgb(48, 28, 2);"><b>This system has no electrical component and doesn’t require any advanced machinery, which is why it is considered the most basic of the hydroponic systems. The plants are suspended in a growing medium above a tank filled with water and nutrient solution, which are transported to the plants’ roots by way of a wick (like a piece of rope or felt) connecting the solution with the growing medium</b></p>.

            <p style="text-align: left; color: rgb(48, 28, 2);"><b>While the wick system is cheap and easy, it’s not suitable for plants and vegetables that require a lot of water, plus it can be inefficient in delivering nutrients. Hydroponic aficionados refer to this system as the "training wheels" of hydroponics.</b></p>
        </img>
        </DIV> 
          
    </div>
</div>

<div class="polaroid" style="background-color:ghostwhite;">
    <img src="D:\hackathonprj\imagesProject\technologies\TYPESHYDRO\deepwater.webp" alt = "Deep Water Culture" style="width: 100%; height: 90%;">
    <DIV class="container">
        <p style="text-align: center;">Deep Water Culture</p>
    </img>
    </DIV> 
      
</div>
</div> 
        <p style="text-align: left; color: rgb(48, 28, 2);"><b>Another easy system for new growers, the deep water culture system consists of plants that are suspended over a reservoir filled with water and nutrient solution. The roots are submerged into the liquid, so there is a constant supply of both water and nutrients, but need an air pump to continuously pump bubbles into the reservoir and provide the roots with oxygen. It's an inexpensive, recirculating process that creates less waste, but it doesn’t always work for plants that are larger or require longer growing periods.</b></p>
            
    </body>
</html>