<!DOCTYPE html>
<html>

<head>
    <title>Wheat Crop</title>

    <link rel="icon" href="static/images/project logo.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="static/style/styles-crops.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700" rel="stylesheet"
        type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="static/style/font-awesome.min.css" rel="stylesheet" />
    <link href="static/style/bootstrap.min.css" rel="stylesheet" />
    <link href="static/style/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="static/style/flexslider.css" rel="stylesheet" />
    <!-- <link href="css/templatemo-style.css" rel="stylesheet" /> -->
</head>


<body class="image"
    background="static/images/Orange and Green Light Watercolor Background Christian Desktop Wallpaper.png">

    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="/" class="tm-site-name">POṢHAṆA</a>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#" class="active">Crops</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Terrace Gardening</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div>
        <h1 class="heading"> &#127793; Wheat Crop Planting for beginners </h1>

    </div>
    <div class="polaroid" style="background-color:ghostwhite; height: 280px;">
        <img src="static/images/wheat crop image.jpg" alt="WHEAT" style="width: 100%;">
        <DIV class="container-fluid">
            <p style="text-align: center; margin-top: 9px">WHEAT</p>
            </img>
        </DIV>

    </div>
    </div>


    <br><br>
    <div class="container-fluid">
        <p style="text-align: left; margin-left: 30px; margin-right: 20px;">You don't need a lot of space to plant
            wheat, but you do need to plan for the crop
            carefully. Planning and timing the planting of your crop gives it the best chance of flourishing. You also
            need to prepare the area where you’ll plant the wheat, and make sure it takes to the ground and grows well.
        </p>
    </div>

    <h1 style="margin-left: 50px; margin-top:100px; font-family: cursive; color:rgb(138, 56, 56) ;">&#127793; STEPS</h1>
    <div class="text" style="margin-left: 30px;">
        <details>
            <summary><button style="border-radius: 10px;"><img class="buttonimg" src="static/images/button image.jpg">
                    STEP 1</button>
                <h2 class="Steps">Planning Your Crop :</h2>
            </summary>
            <p>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Determine how much space you have.:</b></i> About
                    1,000
                    square feet will yield one bushel, or 60 lbs (30 kg), of grain. That’s about the space of a
                    backyard.
                    You'll need to figure out how much wheat you want to grow and how much space it will take.</ol>
                <ol type="1"><i style="color:  rgb(128, 47, 47)"><b>Determine the type of wheat you'll plant.:</b></i>
                    Winter wheat is planted in the fall and harvested in early spring. It also tends to be the preferred
                    variety since it is more nutritious and competes with fewer weeds in the spring. Spring wheat is
                    planted
                    in the spring and harvested in the fall. It is the more common variety in areas that have colder
                    winters.</ol>
                <ol type="1"><i style="color:  rgb(128, 47, 47)"><b>Choose your planting location.:</b> </i> Your wheat
                    should get plenty of sun while it grows, so make sure you plant it in full sun. The area where you
                    plant
                    should get about eight hours of sun a day. This is true whether you plant winter or spring wheat.
                    Don't
                    plan on planting your crop anywhere where there's too much shade.</ol>
                <ol type="1"><i style="color:  rgb(128, 47, 47)"><b>Time your planting season.:</b> </i> Prepare to
                    plant
                    winter wheat in the fall, approximately 6 to 8 weeks before the soil freezes, as this allows for
                    strong
                    root growth. Spring wheat can be planted as early as you can work the soil. Wheat grows best in 70
                    to 75
                    degree Fahrenheit ((21 to 24 degrees Celsius) weather, so you should plant your wheat when the
                    weather
                    is approaching that temperature (and eventually rising).</ol>
            </p>

        </details>

        <details>
            <summary><button style="border-radius: 10px;"><img class="buttonimg" src="static/images/button image.jpg"> STEP 2</button>
                <h2 class="Steps">Planting Your Seeds :</h2>
            </summary>
            <p>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Till your soil:</b></i>You should till your soil to
                    a
                    depth of 6 inches (15 cm). You can use a rake, rototiller, or shovel to prepare the soil, although a
                    rototiller is probably best if you're covering a large area. The ground needs to be as close to even
                    as
                    possible once you're finished, so you might need to run a rake over the top of the soil to even it
                    out.
                </ol>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Spread compost if necessary.:</b></i>If your soil is
                    overly dry (it will be a light brown color) or somewhat rocky, you might need a layer of compost.
                    This
                    provides the soil with extra nutrients and can help the wheat grow better. Soil that is a rich brown
                    color and moist to the touch doesn't need any extra compost.</ol>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Spread your seeds.</b></i>You can use your hand, but
                    an
                    actual seed spreader is best, because it gives you more even coverage. You should spread the seeds
                    so
                    that you have approximately one seed per 1 square inch (2.5 square centimeters) of space. The
                    package of
                    seeds should tell you how many pounds of seed you should use per 1,000 square feet of planting area,
                    to
                    give you a better idea of how much seed you need for large areas.</ol>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Rake the seeds.:</b></i> Once you’ve spread the
                    seeds,
                    they need to get worked into the soil. Using a metal rake, gently rake over the seeds so they get
                    worked
                    into the soil. Make sure you rake evenly so your crop doesn't come up in clumps.</ol>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Cover the seed with a thin layer of soil.:</b></i>
                    This
                    prevents the seed from drying out in the sun and from birds feeding on it. Cover spring wheat
                    without
                    about 1.5 inches (3.8 cm) of soil. Winter wheat should be 2.5 inches (6.4 cm) deep. The seed should
                    never be covered by more than 3 inches (7.6 cm) of soil.</ol>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Water your newly planted seeds.:</b></i>You should
                    soak
                    the area that’s planted right away. Keep the entire planting area moist until the wheat begins to
                    grow.
                    Cooler weather and more rain means less watering on your part.</ol>


            </p>
        </details>

        <details>
            <summary><button style="border-radius: 10px;"><img class="buttonimg" src="static/images/button image.jpg"> STEP 3</button>
                <h2 class="Steps">Maintaining Your Wheat</h2>
            </summary>
            <p>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Water your plants during dry spells.:</b></i>If your
                    planting area goes through a dry spell - no rain for a week or so - you'll need to water the
                    planting
                    area. This will probably be more necessary if you're planting winter wheat than if you plant spring
                    wheat.</ol>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Weed as needed:</b></i>Wheat grows very close
                    together,
                    so you might not need to weed regularly. You should, however, keep an eye out for weeds, especially
                    if
                    it's your first time growing and you haven't spread your seeds evenly.</ol>
                <ol type="1"><i style="color: rgb(128, 47, 47);"><b>Protect your crop from pests.</b></i>Slugs and
                    insects
                    like sawflies can destroy a crop of wheat. Slugs are likely to appear when the wheat is still very
                    short, under 4 or 5 inches (9 to 10 cm). If you see them, use slug baits to keep them away from your
                    wheat. If you notice sawflies, spray your crop with insecticide to protect the wheat.</ol>

            </p>
        </details>
        <br><br>
    </div>





</body>

</html>